<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:gpb="http://www.gpaybank.com">
<head
        th:include="/common/mt500template :: template(~{::title},~{::link},~{::style})">
    <meta charset="utf-8">
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate"/>
    <title th:text="${SecondTitle}"></title>
    <!--    <link rel="stylesheet" type="text/css"
              href="../../static/lib/bootstrap/css/bootstrap.css">
        <link rel="stylesheet" type="text/css"
              href="../../static/lib/bootstrap/css/bootstrap-theme.css">-->
    <link rel="stylesheet" type="text/css"
          th:href="@{/css/style.css(v=#{version})}"/>
</head>
<body>
<nav th:replace="common/fragment :: nav"></nav>
<div class="page-container">
    <div th:replace="common/fragment :: RTitle"></div>
    <form id="sendMesg" name="sendMesg" method="post" action="/${messagetype}/send">
        <div th:replace="common/message :: header"></div>
        ${template}


        <div class="error" style="display: none">

        </div>
        <div class="btn-center mt25">
            <button id="sendBtn" type="button" class="gbtn btn-tab1">
                发送
            </button>
        </div>
    </form>
</div>
</body>

<script type="text/javascript">
    String.prototype.replaceAll = function(s1,s2){
        return this.replace(new RegExp(s1,"gm"),s2);
    }

    String.prototype.endsWith = function (suffix) {
        return this.indexOf(suffix, this.length - suffix.length) !== -1;
    };






    function  formatSwiftDecimal(value,maxlength){
        var swifttstDecimalPattern =/^[1-9]*[0-9]{1},[0-9]{0,2}$/;
        var nomalDecimalPatter = /^[1-9]*[0-9]{1}(\.[0-9]{0,2})?$/;
        var validSwiftDecimal = swifttstDecimalPattern.test(value);
        if(validSwiftDecimal){
            return value;
        }else{
            var validNormalDecimal = nomalDecimalPatter.test(value);
            if(validNormalDecimal){
                if(value.indexOf(".")==-1){
                    if(value.length>=maxlength){
                        value= value.substr(0,maxlength-1);
                    }
                    value=value+",";
                }else {
                    value = value.replace(".",",");
                }
                return  value;
            }
            return "";

        }
    }

    layui.use(['element', 'layer'], function () {



        $("input.decimal").change(function(){
            var maxlength = $(this).attr("maxlength");
            $(this).val(formatSwiftDecimal($(this).val(),maxlength));
        });





        $("form").on("click", ".addSequence", function () {
            var subsequence = $(this).parents("table").first().clone(true);
            $(subsequence).find(".tag-data:not(label)").each(function () {
                $(this).data("content", $(this).val());
            })
            $(subsequence).insertAfter($(this).parents("table").first());
            return false;
        });

        $("form").on("click", ".deleteSequence", function () {
            var sequenceName = $(this).parents("table").first().attr("sequencename");
            if ($("table[sequencename=" + sequenceName + "]").size() <= 1) {
                layer.msg("当前可循环分页不可再删除");
            } else {
                $(this).parents("table").first().remove();
            }
            return false;
        });


        $("form").on("click", ".addSubSequence", function () {
            var subSequenceTRElement = $(this).parents("tr[subsequencename]").first();
            var newSubsequenceElement = subSequenceTRElement.clone(true);
            $(newSubsequenceElement).find(".tag-data:not(label)").each(function () {
                $(this).data("content", $(this).val());
            })

            $(newSubsequenceElement).insertAfter(subSequenceTRElement);
            return false;
        });

        $("form ").on("click", ".deleteSubSequence", function () {
            var subSequenceTRElement = $(this).parents("tr[subsequencename]").first();
            var subSequenceName = subSequenceTRElement.attr("subsequencename");
            if (subSequenceTRElement.parent().children("tr[subsequencename=" + subSequenceName + "]").size() <= 1) {
                layer.msg("当前可循环子分页不可再删除");
            } else {
                subSequenceTRElement.remove();
            }
            return false;
        });


        $("form").on("click", ".addTag", function () {
            var tag = $(this).parents("tr").first().clone(true);
            $(tag).find(".tag-data:not(label)").each(function () {
                $(this).data("content", $(this).val());
            })
            $(tag).insertAfter($(this).parents("tr").first());
            return false;
        });

        $("form").on("click", ".deleteTag", function () {
            var tagname = $(this).parents("tr").first().attr("tagname");
            if ($(this).parents("tr").first().parent().children("tr[tagname='" + tagname + "']").size() <= 1) {
                layer.msg("当前标签不可再删除");
            } else {
                $(this).parents("tr").first().remove();
            }
            return false;
        });

        $("form").on("click", ".delimiter", function () {

            var visible = $(this).hasClass("content_show");
            $(this).parents("table").first().children().children("tr:not(.delimiter)").each(function () {
                if (visible) {
                    $(this).hide();
                } else {
                    $(this).show();
                }
            });
            if(visible){
                $(this).parents("table").first().children().children("tr.delimiter").removeClass("content_show");
                $(this).parents("table").first().children().children("tr.delimiter").children("td").append("<strong style='color: red'> (已折叠)</strong>")
            }else{
                $(this).parents("table").first().children().children("tr.delimiter").addClass("content_show");
                $(this).parents("table").first().children().children("tr.delimiter").children("td").children("strong").remove();

            }

        });

        function refreshTagSelect() {

            $("select.tagselect").each(function () {
                var selectedTagName = $(this).val();
                $(this).parents("tr").first().attr("selectedtagname", selectedTagName);
                $(this).parents("tr").first().children("td").slice(1).hide();
                $(this).parents("tr").first().children("td[tagname='" + selectedTagName + "']").show();
            });
        }


        refreshTagSelect();

        $("form").on("click", ".addSequence,.addSubSequence,.addTag", function () {
            refreshTagSelect();
        });

        $("form").on("change", "select.tagselect", function () {
            refreshTagSelect();
        });


        //使用 tag-data标记存储值的元素  ，并把值存储再data-content属性中

        $("form").on("change", "select.tag-data,input.tag-data,textarea.tag-data", function () {
            var val = $(this).val();
            $(this).data("content", val);

        });


        $("form").on("focusout", "input.tag-data.Wdate", function () {
            var val = $(this).val();
            $(this).data("content", val);

        });

        $("form").on("change", "select.enum-data", function () {

            var datafor = $(this).attr("datafor");

            var dataforSelect = $(this).nextAll("select[contentname='" + datafor + "']");
            $(dataforSelect).children("option[value!='']").remove();
            $(dataforSelect).data("content","");
            var data = $(this).children("option:selected").data("enumdata");
            if (data) {
                var dataArray = data.split(",");
                for (var i = 0; i < dataArray.length; i++) {

                        var option = document.createElement("option");
                        option.value = dataArray[i];
                        option.text = dataArray[i];
                        dataforSelect.append(option);
                    }

            }


        });


        function checkHasContent(tr) {
            var tagname = $(tr).attr("tagname");
            var content = "";
            if (tagname.endsWith('a')) {
                tagname = $(tr).attr("selectedtagname");
                var dataElements = $(tr).children("td[tagname='" + tagname + "']").children(".tag-data:not(label)");
                $(dataElements).each(function () {
                    var currentDataElementContent = $(this).data("content");
                    content = content + String(currentDataElementContent);
                });
            } else {
                var dataElements = $(tr).children("td").slice(1).children(".tag-data:not(label)");
                $(dataElements).each(function () {
                    var currentDataElementContent = $(this).data("content");
                    content = content + String(currentDataElementContent);
                });
            }
            if (content) {
                return true;
            }
            return false;
        }

        function getTagContent(tr) {
            var tagname = $(tr).attr("tagname");
            var content = "";
            if (tagname.endsWith('a')) {
                tagname = $(tr).attr("selectedtagname");
                var dataElements = $(tr).children("td[tagname='" + tagname + "']").children(".tag-data");
                $(dataElements).each(function () {
                    var currentDataElementContent = $(this).data("content");
                    var currentDataElementContentPrefix = $(this).data("contentprefix");
                    if (currentDataElementContentPrefix) {
                        if("lf"===currentDataElementContentPrefix){
                            currentDataElementContentPrefix="\n";
                        }
                        if("crlf"===currentDataElementContentPrefix){
                            currentDataElementContentPrefix="\r\n";
                        }
                        currentDataElementContent =  String(currentDataElementContentPrefix)+String(currentDataElementContent);
                    }
                    if ($(this).prop("tagName") == "TEXTAREA") {
                        currentDataElementContent = currentDataElementContent.replaceAll("\n", "\r\n");
                    }
                    content = content + String(currentDataElementContent);

                });
            } else {
                var dataElements = $(tr).children("td").slice(1).children(".tag-data");
                $(dataElements).each(function () {
                    var currentDataElementContent = $(this).data("content");
                    var currentDataElementContentPrefix = $(this).data("contentprefix");
                    if (currentDataElementContentPrefix) {
                        if("lf"===currentDataElementContentPrefix){
                            currentDataElementContentPrefix="\n";
                        }
                        if("crlf"===currentDataElementContentPrefix){
                            currentDataElementContentPrefix="\r\n";
                        }
                        currentDataElementContent =  String(currentDataElementContentPrefix)+String(currentDataElementContent);
                    }

                    if ($(this).prop("tagName") == "TEXTAREA") {
                        currentDataElementContent = currentDataElementContent.replaceAll("\n", "\r\n");
                    }
                    content = content + String(currentDataElementContent);
                });
            }

            return content;
        }


        /**
         *
         * @param tr     element
         * @param tagList
         */

        function findTagContent(tr, tagList) {
            var errorTimes = 0;
            if ($(tr).attr("tagname")) {
                var tagname = $(tr).attr("tagname");
                var format = $(tr).attr("format");
                var opt = $(tr).attr("opt");
                var regexp = $(tr).attr("regexp");
                var content = "";
                if (tagname.endsWith('a')) {
                    tagname = $(tr).attr("selectedtagname");
                    format = $(tr).children("td[tagname='" + tagname + "']").attr("format");
                    regexp = $(tr).children("td[tagname='" + tagname + "']").attr("regexp");
                }
                var hascontent = checkHasContent($(tr));
                var parentSequenceElement = $(tr).parents("[sequencename],[subsequencename]").first();
                var sequencename = "";
                if ($(parentSequenceElement).attr("sequencename")) {
                    sequencename = $(parentSequenceElement).attr("sequencename");
                }
                if ($(parentSequenceElement).attr("subsequencename")) {
                    sequencename = $(parentSequenceElement).attr("subsequencename");
                }

                if (!hascontent && 'M' === opt && !(tagname == '16S' || tagname == '16R')) {
                    errorTimes++;
                    var message = sequencename + "的Tag:" + tagname + "值不能为空";
                    if (tagname.endsWith('a')) {
                        tagname = $(tr).attr("selectedtagname");
                        $(tr).children("td[tagname='" + tagname + "']").append("<span class='error'><label>" + message + "</label></span>");
                    } else {
                        $(tr).children("td").slice(1).append("<span class='error'><label>" + message + "</label></span>");
                    }
                    $("div.error").append("<p>" + message + "</p>");

                }
                if (tagname == '16S' || tagname == '16R' || hascontent) {
                    var set_x = "(\\w)(\\/)(\\-)(\\?)(\\:)(\\()(\\))(\\.)(\\,)(\\')(\+)(\\r)(\\ )";
                    var set_y = "(A-Z)(\\d)(\\.)(\\,)(\\-)(\\()(\\))(\\/)(\\=)(\\')(\\+)(\\:)(\\?)(\\!)(\")(\\%)(\\&)(\\*)(\\<)(\\>)(\\;)(\\ )";
                    var set_z = "(\\w)(\\.)(\\,)(\\-)(\\()(\\))(\\/)(\\=)(\\')(\\+)(\\:)(\\?)(\\!)(\")(\\%)(\\&)(\\*)(\\<)(\\>)(\\;)(\\{)(\\@)(\\#)(\\_)(\\r)(\\ )";
                    var set_c = "\\w";
                    var set_n = "\\d";
                    var set_a = "(A-Za-z)";
                    var set_d ="[1-9]*[0-9]{1},[0-9]{0,2}"
                    content = getTagContent($(tr));
                    if (regexp) {
                        regexp = regexp.replaceAll("\\$\\{x\\}", set_x).replaceAll("\\$\\{y\\}", set_y).replaceAll("\\$\\{z\\}", set_z).replaceAll("\\$\\{c\\}", set_c).replaceAll("\\$\\{n\\}", set_n).replaceAll("\\$\\{a\\}", set_a).replaceAll("\\$\\{d\\}", set_d);
                        var re = new RegExp(regexp, "g");
                        var checkresult = re.test(content);
                        if (!checkresult) {
                            errorTimes++;
                            var message =  sequencename + "的Tag:"+tagname + "的内容：" + content + "格式错误。应满足格式：" + format;
                            if (tagname.endsWith('a')) {
                                tagname = $(tr).attr("selectedtagname");
                                $(tr).children("td[tagname='" + tagname + "']").append("<span class='error'><label>" + message + "</label></span>");
                            } else {
                                $(tr).children("td").slice(1).append("<span class='error'><label>" + message + "</label></span>");
                            }
                            $("div.error").append("<p>" + message + "</p>");

                        }
                    }
                    tagList.push({"tagName": tagname, "content": content});
                }
            } else if ($(tr).attr("subsequencename") && $(tr).attr("hascontent") === 'true') {

                $(tr).children("td").children("table").children("tbody").children("tr").each(function () {
                    var childErrorTimes = findTagContent($(this), tagList);
                    errorTimes = errorTimes + childErrorTimes;
                });

            }
            return errorTimes;

        }


        /** 判断子分页是否必填
         * @param tr 当前子分页的tr标签
         * @param parentSubSequenceRequired  当前子分页的父分页是否必填
         * @return 返回当前子分页是否必填
         */
        function judgeSubSequenceRequired(tr, parentSubSequenceRequired) {
            var subsequencename = $(tr).attr("subsequencename");
            var subsequenceOPT = $(tr).attr("opt");
            var subSequenceRequired = false;

            if (subsequencename) {
                if ('M' == subsequenceOPT && parentSubSequenceRequired) {
                    $(tr).attr("hascontent", "true");
                    subSequenceRequired = true;
                } else {
                    $(tr).children("td").children("table").children("tbody").children("tr[tagname]").each(function () {
                        if (checkHasContent($(this))) {
                            $(tr).attr("hascontent", "true");
                            subSequenceRequired = true;
                        }
                    });
                }
                $(tr).children("td").children("table").children("tbody").children("tr[subsequencename]").each(function () {
                    var childSubSequenceRequired = judgeSubSequenceRequired($(this), subSequenceRequired);
                    if (childSubSequenceRequired) {
                        $(tr).attr("hascontent", "true");
                        subSequenceRequired = true;
                    }
                });

            }
            return subSequenceRequired;
        }

        $("#sendBtn").click(function () {

            $(".error").children().remove();


            $("table[sequencename]").each(function () {
                var sequenceElement = $(this);
                var sequencename = $(this).attr("sequencename");
                var sequenceOPT = $(this).attr("opt");

                var sequenceRequired = false;
                if (sequenceOPT === 'M') {
                    $(sequenceElement).attr("hascontent", "true");
                    sequenceRequired = true;
                } else {
                    $(this).children("tbody").children("tr[tagname]").each(function () {
                        if (checkHasContent($(this))) {
                            $(sequenceElement).attr("hascontent", "true");
                            sequenceRequired = true;
                        }
                    });
                }
                $(this).children("tbody").children("tr[subsequencename]").each(function () {
                    var childSubSequenceRequired = judgeSubSequenceRequired($(this), sequenceRequired);
                    if (childSubSequenceRequired) {
                        $(sequenceElement).attr("hascontent", "true");
                        sequenceRequired = true;
                    }
                });
            });


            var tagList = new Array();

            var checkErrorTimes = 0;
            $("table[sequencename][hascontent='true']").children("tbody").children("tr").each(function () {


                    var errorTimes = findTagContent($(this), tagList);
                    checkErrorTimes = checkErrorTimes + errorTimes;
                }
            );


            if (checkErrorTimes > 0) {
                layer.open({
                    type: 1,
                    tittle: "提示",
                    area: ['500px', '300px'],
                    content: '<div class="error">' + $("div.error").html() + '</div>' //这里content是一个普通的String
                });

                  return;
            }
            $.ajax({
                type: "POST",
                url: "/${messagetype}/send",
                data: JSON.stringify({
                    "data": tagList,
                    "sendBank": $("#FD_SendBank").val(),
                    "recvBank": $("#FD_RecvBank").val(),
                    "mesgPriority": $("#FD_MesgPriority").val()
                }),//将对象序列化成JSON字符串
                dataType: "json",
                contentType: 'application/json;charset=utf-8', //设置请求头信息
                success: function (data) {
                    $.fn.Messager(data);
                }
            });

        });
    });
</script>
</html>